USE [master]
GO
/****** Object:  Database [DB_Warehouse]    Script Date: 2019-03-02 10.27.10 ******/
CREATE DATABASE [DB_Warehouse]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_Warehouse', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DB_Warehouse.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DB_Warehouse_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DB_Warehouse_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_Warehouse].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_Warehouse]
GO
/****** Object:  Table [dbo].[barang]    Script Date: 2019-03-02 10.27.10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[barang](
	[id_barang] [varchar](10) NOT NULL,
	[barang] [varchar](20) NULL,
	[stok] [int] NULL,
	[merek] [varchar](20) NULL,
	[seri] [varchar](20) NULL,
	[jenis] [varchar](20) NULL,
	[id_rak] [varchar](10) NULL,
	[harga] [money] NULL,
	[expire_date] [datetime] NULL,
 CONSTRAINT [PK_barang] PRIMARY KEY CLUSTERED 
(
	[id_barang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[rak]    Script Date: 2019-03-02 10.27.10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[rak](
	[id_rak] [varchar](10) NOT NULL,
	[rak] [varchar](20) NULL,
	[baris] [int] NULL,
 CONSTRAINT [PK_rak] PRIMARY KEY CLUSTERED 
(
	[id_rak] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[rak] ([id_rak], [rak], [baris]) VALUES (N'OJIJ', N'KMIJM', 1)
INSERT [dbo].[rak] ([id_rak], [rak], [baris]) VALUES (N'R01', N'makanan', 3)
INSERT [dbo].[rak] ([id_rak], [rak], [baris]) VALUES (N'RK005', N'Pakaian', 1)
ALTER TABLE [dbo].[barang]  WITH CHECK ADD  CONSTRAINT [FK_barang_rak] FOREIGN KEY([id_rak])
REFERENCES [dbo].[rak] ([id_rak])
GO
ALTER TABLE [dbo].[barang] CHECK CONSTRAINT [FK_barang_rak]
GO
USE [master]
GO
